ImageDateRead/bin/Debug
ImageDateRead/obj/Debug
ImageDateRead/.vs/ImageDateRead/v14
ImageDateRead/.vs/ImageDateRead/v16/
packages
tools/
output/
AppPackages/

*.user
*.nuget.targets
*.lock.json
